@import "tailwindcss";

*{
          font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#scroll::-webkit-scrollbar{
  display: none;
}
#testi::-webkit-scrollbar{
  display: none;
}
#line::-webkit-scrollbar{
  display: none;
}